/*
Best Practices
id - #karmaLogo, #navigationBar
class - .centering, .background-image

1em - body { font-size: 16px; }
h1 {
    1.5em; //24px - 18px
}
h1 p {
    1em; //24px - 18px
}

@media screen and (max-width: 480px){
    body {
        font-size: 12px;
    }
}

h1 {
    1.5rem; //24px - 18px
}
h1 p {
    1rem; //16px - 12px
}
*/


#Karma-Logo {
	padding: 10px 0px 10px 150px;
}
#Navigation-Bar p {
    display: inline-block;
    padding-right: 30px;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
    color: #838994;
    letter-spacing: 0.03em;
    transition: color 0.5s ease;
}
#Navigation-Bar .Centering > #Push-Over {
    margin-left: 300px;
    color: #4c5058;
    font-weight: 500;
}
#Navigation-Bar p:hover {
    color: black;
}
#Background-Image {
    background-image: url('../images/first-background.jpg');
    background-position: center bottom;
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding-top: 10em;
}
#Learn-More {
    width: 9.688rem;
    padding: 1rem 1.5rem;
    margin-bottom: 15em;
    color: white;
    background-color: #f15a29;
    border-color: #f15a29;
    transition: background-color 0s ease;
    border-radius: 4px;
}
#Learn-More:hover{
    background-color: #8C2800;
    border-color: #8C2800;
}